<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}


<html lang="en">
  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}

    <title>
        {% block title %}
        Interval Dashboard
        {% endblock %}
    </title>

  </head>
  <body>
      {# Navigation Bar #}
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                {% block brand %}
                Interval Dashboard
                {% endblock %}
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% block navbar %}
                {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% block navbar_right %}
                  {% if user.is_authenticated %}
                    {% url "admin:index" as admin_url %}
                    {% if user.is_staff and admin_url %}
                        <li>
                            <a href="{{ admin_url }}">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                To Admin
                            </a>
                        </li>
                    {% endif %}
                  {% url "logout" as logout_url %}
                    {% if logout_url %}
                        <li>
                          <a href="{{ logout_url }}">
                              <span class="glyphicon glyphicon-log-out"></span>
                              Logout
                          </a>
                        </li>
                    {% endif %}
                    {% else %}
                      {% url "login" as login_url %}
                      {% if login_url %}
                        <li>
                          <a href="{{ login_url }}">
                            <span class="glyphicon glyphicon-log-in"></span>
                            Login
                          </a>
                        </li>
                      {% endif %}
                  {% endif %}
                {% endblock %}
            </ul>
          </div>
        </div>
      </div>

      {# Page Contents #}
      <div class="container">
        {% block breadcrumbs_container %}
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}"> About </a></li>
            <li><a href="{% url 'dashboard:boilers' %}"> Boilers </a></li>
            <li><a href="{% url 'dashboard:pumps' %}"> Pumps </a></li>
            <!--{% block breadcrumbs %}{% endblock %}-->
          </ol>
        {% endblock %}

        {% bootstrap_messages %}

        {% block content %}
            Override content in child templates
        {% endblock %}
      </div>

      <br><hr>
      <div class="container">
          {% block footer %}
          {% endblock %}
      </div>

      {% block custom_js %}

      {% endblock %}
  </body>
</html>
