
{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block head %}
  {{ block.super }}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
  <h2>About</h2>
  <!-- forms and chart divs here-->
  <p> This is a bunch of stuff Michele is going to write about what this thing makes do... </p>

  {% block form_data %} {% endblock %}

  <div class="row">
    <div id="plotly-chart"></div>
  </div>

{% endblock %}


{% block custom_js %}
    <script src="{% static 'js/plots.js' %}"></script>
    <script src="{% static 'js/ajax_request.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
